@charset "UTF-8";
/*  */

a {color: #ad7417;}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {background-color: #750f01; color: #dee3ef;}
/* Main Navigation   */

a:hover{color: #af3cc8;}
/* changes color on hover for links */

.nav-pills:hover .nav-link.active:hover, .show:hover > .nav-pills:hover .nav-link:hover {background-color: #d9a869; color: #af3cc8;}
/*  Changes style of main navigation on hover*/

h1{color: black;}

h2{font-size: 150%;
font-family: 'Oswald', sans-serif;
font-weight: 400;}

.Space {color: blue;}
.Mind {color: #d09e0b;}
.Reality {color: darkred;}
.Power {color: purple;}
.Time {color: green;}
.Soul {color: darkorange;}
/*  Colors for infinity stone headers on main page*/

.arrow {font-size: 125%;}

.civil {color: black;}

.img-mod {display: block;
margin: auto;
width: 75%;
height: auto;}
/* Used for modals */

body {background-color: #dee3ef;}

html {background-color: #750f01;}
/*  changes html background color*/

p {line-height: 1.75;
font-family: 'Oswald', sans-serif;
font-weight: 300;}
/*  use of google font */

.pic-back {background-color: rgba(102, 104, 105, 0.5)}
/*  jumbotron caption background color*/

h5{font-size: 140%;
	font-family: 'Oswald', sans-serif;
font-weight: 400;}
/*Used for sections in the history divs under bios  */

.btn-primary {
    background-color: #750f01; color: #dee3ef;
    border-color: #750f01;
}
/*  changes button color*/

.btn-primary:hover{background-color: #d9a869; color: #af3cc8;border-color: #d9a869;}
/*  changes button color on hover*/

.Avenge{
       pointer-events: none;
       cursor: default;
}
/*  This takes out the link of images that are supposed to look like a font*/
