/*Login.css */


@charset "UTF-8";
/* CSS Document */

@import url('/');



body, html {
    height: 100%;
    position: relative;
    min-height: 100%;
    margin: 0px !important;
    padding: 0px !important;
}




.ForgotLogin {
    background-color: whitesmoke;
}

.banner-sec {
    background-image: url(../Images/BirdBg.jpg);
    /*no-repeat: left bottom;*/
    background-size: cover;
    min-height: 400px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container {
    background: #fff;
   
    box-shadow: 0px !important;
}


.block {
    /*background: #e0d7c3;*/
   
}

.block2 {
    /*background: #e0d7c3!;*/
   
}

.block3 {
    background: whitesmoke;
    width: auto;
    border-radius: 5px;
}

.block4 {
    background: white;
    width: auto;
   
}

.TabDiv{padding-right: 10%;}


   
   
}


.blockInvoice {
    background: white;
    border-radius: 10px;
    padding-top: 5px;
    margin-top: 10px;
}

.Insideblock {
    background: white;
    border-radius: 10px;
}


.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-block {
    padding-top: 90% !important;
}

.logo {
    font-family: 'Orbitron', sans-serif;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

    .login-sec .copy-text i {
        color: #FEB58A;
    }

    .login-sec .copy-text a {
        color: #E36262;
    }

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
}

    .login-sec h2:after {
        content: " ";
        width: 100px;
        height: 5px;
        background: #FEB58A;
        display: block;
        margin-top: 20px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto
    }

.btn-login {
    background: #d55c1d;
    color: #fff;
    font-weight: 600;
    border: 0px;
}

    .btn-login:hover {
        background: #DE8372;
    }

.btn-inside {
    background: #d55c1d;
    color: #fff;
    font-weight: 600;
    border: 0px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}

.btn-login:hover {
    background: #DE8372;
}

.btn-xlarge {
    padding: 22px 23px !important;
    font-size: 22px;
    //change this to your desired size line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 5px !important;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

    .banner-text h2 {
        color: #fff;
        font-weight: 600;
    }

        .banner-text h2:after {
            content: " ";
            width: 100px;
            height: 5px;
            background: #FFF;
            display: block;
            border-radius: 3px;
        }

    .banner-text p {
        color: #fff;
    }

.Account {
    color: blue
}

.NewUserTitle {
    font-size: 200%;
    color: #d55c1d;
}

.ReportTitle {
    font-size: 120%;
    color: #919b90;
    display: block;
    font-weight: 600;
}
